h1 {
    text-align: center;
}

.pilkas {
    background-color: lightgray;
    color: black;
    border-style: solid;
    text-align: left;
    width: 30%;
    float: left;
    margin-left: 20px;
    padding-left: 5px;
  }

p {
    margin-top: 40px;
}

.pilkas >h2 {
    border-style: solid;
    border-color: black;
    text-align: center;
    width: 10%;
    margin-left: 19.4%;
    margin-top: -2px;
    margin-bottom: -5px;
    position: absolute;
}

#chicken {
    background-color: pink;
    color: black;
}

#beef {
    background-color: red;
    color: white;
}

#sushi {
    background-color: sandybrown;
    color: black;
}