

h1 {text-align: center;
margin-left: auto;
}

.a {
  background: #908989;
  width: 29%;
  float: left;
  margin-left: 2%;
  padding-left: 15px;
  border-style: solid; <!-- divo remas -->
min-height: 120px


}

.cleerfix {  clear: both;}

.b {
  background: pink;
  width: 100px;
  height: 35px;
  border: 2px solid black;
  position: relative;
  top: -2px;
  margin-left: auto;
  text-align: center; <!-- automatiskai prisitaiko prie elemento-->
  font-size: 21px;

}

.c {
  background: #c35466;
  width: 100px;
  height: 35px;
  border: 2px solid black;
  position: relative;
  top: -2px;
  margin-left: auto;
  text-align: center;
  color: white;
  font-size: 21px;



}

.d {
  background: #e1e0a9;
  width: 100px;
  height: 35px;
  border: 2px solid black;
  position: relative;
  top: -2px;
  margin-left: auto;
  text-align: center;
  font-size: 21px;


}
@media (max-width: 768px) {
.paskutinis{
  width: 96%;
  margin-top: 2%;

}
@media (max-width: 768px) {
.krastas{
  width: 96%;


}
@media (max-width: 768px) {
.vidurinis{
  width: 96%;
    margin-top: 2%;


}


@media (max-width: 375px) {
.krastas{
  width: 96%;


}
@media (max-width: 375px) {
.vidurinis{
  width: 96%;
    margin-top: 2%;


}
@media (max-width: 375px) {
.paskutinis{
  width: 96%;
  margin-top: 2%;

}
