.div1 {
  height: 100%;
  background-image: url("http://www.sportima.lt/uploads/images/Gallery/Futbolo-aikstele/HL9G2127_galerija.jpg");
}
.antras1 {
  height: 100%;
}
.col1 {
  height: 200px;
  }
.col4 {
  height: 100%;
}
  .col2antraste {
    height: 100%;
}
.mygtukas {

  height: 50px;
}
.center_bacgraund {
  background-image: url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&h=350");
