// .scss
// sito komentaro css nebus
/*    sitas komentaras bus bus css  */

$pagrindineSpalva : #000333;
$fonoSpalva : #555000;

$prekesPlotis : 24.9%;

.preke {
  width: $prekesPlotis;
  color: $pagrindineSpalva;
  h2 {
    font-size: 60px;
  }
  p {
    background-color: $fonoSpalva;

  }
}
