body {
    background-color: white;
}
.visi {
    max-width: 600px;
}

.visi >div {
  float: left;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: -1px;
}

.baltas {
    background-color: white;
    }

.melynas {
    background-color: blue;
    }

.zalias {
    background-color: green;
   }

.raudonas {
    background-color: red;
  }

.juodas {
   background-color: black;
  }