#box1 {
  border: 2px solid black;
  width: 30%;
  height: auto;
  background: lightgrey;
  margin-left: 2%;
  padding-left: 15px;
  float: left;
}

#box11 {
  border: 2px solid black;
  width: 75px;
  height: 20px;
  background: pink;
  margin: -2px;
  float: right;
}

#box2 {
  border: 2px solid black;
  width: 30%;
  height: auto;
  background: lightgrey;
  margin-left: 2%;
  padding-left: 15px;
  float: left;
}

#box22 {
  border: 2px solid black;
  width: 75px;
  height: 20px;
  background: red;
  margin: -2px;
  float: right;
}

#box3 {
  border: 2px solid black;
  width: 30%;
  height: auto;
  background: lightgrey;
  margin-left: 2%;
  padding-left: 15px;
  float: left;
}

#box33 {
  border: 2px solid black;
  width: 75px;
  height: 20px;
  background: yellow;
  margin: -2px;
  float: right;
}

.inline {
  ////display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  #box3 {
    width: 95%;
    margin-top: 20px;
  }

  #box1, #box2 {
    width: 45%;
  }
}

@media (max-width: 425px) {
  #box1 {
    margin-bottom: 20px;
  }
  #box1, #box2, #box3 {
    width: 90%;
  }
}
