h1 {
    color: red;
}



.aukstis-100 {
    min-height: 60px;
}
p {
    min-height: 200px;
}
.aukstis-300 {
    min-height: 300px;
}
.aukstis-400 {
    min-height: 400px;
}
.aukstis-500 {
    min-height: 500px;
}
p {
  background-color: yellow;
}
