.container {
  width: 90%;
  margin: auto;
}

.container>div {
  width: 100px;
  height: 100px;
  background-color: red;
  display: inline-block;
  float: left;
}

.container>div:nth-of-type(2n+1) {
  background-color: blue;
}

.container>div:nth-of-type(5n+3) {
  background-color: green;
}

.container>div:nth-of-type(8n+2) {
  background-color: pink;
}
