.artikulas1 {
  color: blue;border: solid 2px #333;
}
.artikulas2 {
  color: red; border: solid 2px #333;
}
.artikulas3 {
  color: orange; border: solid 2px #333;
}
.artikulas4 {
  color: green; border: solid 2px #333;
}
.artikulas5 {
  color: brown; border: solid 2px #333;
}
.artikulas6 {
  color: pink; border: solid 2px #333;
}
.artikulas7 {
  color: yellow; border: solid 2px #333;
}
.pastraipa1 {
  background-color: yellow;
}
.pastraipa2 {
  background-color: pink;
}
.pastraipa3 {
  background-color: brown;
}
.pastraipa4 {
  background-color: pink;
}
.pastraipa5 {
  background-color: orange;
}
.pastraipa6 {
  background-color: red;
}
.pastraipa7 {
  background-color: powderblue;
}
