/*jei komentuosim su zvaigzdutem tai liks css faile*/
body {
  background-color: #d8d5d9;
}

h1 {
  color: #a2a2a2;
  text-decoration: underline;
}

div div {
  width: 24.9%;
  background-color: #c3c6c9;
  height: 30%;
}

div {
  background-color: #d8d5d9;
}
