.bendra {border: solid 2px #333;}

h1 {
  text-align: center;
}
.a {background-color: #ffcc66;}

.b {background-color: #ff6666;}

.c {background-color: #ff0066;}

.d {background-color: #ccffff;}

.e {background-color: #99ff66;}

.f {background-color:#666666;}

.h {background-color:#336666;}

.j {background-color:#0033ff;}

.k {background-color:#333300; }

.m {background-color:#990000; }



.a-color {color: #ffcc66;}

.b-color {color: #ff6666;}

.c-color {color: #ff0066;}

.d-color {color: #ccffff;}

.e-color {color: #99ff66;}

.f-color {color:#666666;}

.h-color {color:#336666;}

.j-color {color:#0033ff;}

.k-color {color:#333300; }

.m-color {color:#990000; }
