h1 {text-align: center;}


.a {background: grey;
  float: left;
  width: 30%;
  padding: 0;
  position: relative;
  margin: 5px;
  border: 2px solid;}

#a-box {
    background-color: #FFB6C1;
  }
#b-box {
  background-color: #ff0033
}
#c-box{
  background-color: #FFD700;
  }

.f {
  text-align: center;
  border:2px solid;
  width: 20%;
  top: -5px;
  float: right;
}

p {
  margin: 10px;
}
/* si komanda isjungia flow left */
.cleenfix{
  clear: both;
  content: "";
}
/* isdestymas plansetems  */
@media (max-width: 768px){
.max{
  width: 95%;
}
.midi,.mini{
  width: 45%;
}
}
/* isdestymas mobiliems */
@media (max-width: 425px){
  .a {
    width: 90%;
    background-color: red;
}
}
