

ul li {
  float: left;
  list-style-type: none;
  margin: 30px;
}
.aukstis-300 {
  min-height: 300px;
}

.sekcija1 {
  display: flex;
  align-items: flex-start;
}
.sekcija2{
  display: flex;
  align-items: center;
}
.sekcija3 {
  display: flex;
  align-items: flex-end;
}
.retroDviratis {
  width: 250px;
  align-content: center;}

/* .dviratis {  ???? pataisyt*/

.paveiksliukas {
  background-color: #D3D3D3;
  min-height: 300px;
  margin-top: 2px;
}
.vienratis {
  display: flex;
  justify-content: center;
}
.dv1 {
  width: 90px;
  height: 90px;
  margin-top: 5px;
}
/* pirma eilute nuotrauka */

.dviratis {
  display: flex;
  justify-content: space-between;
}
.dv2 {
  width: 100px;
  height: 90px;
  margin-top: 5px;
}
/* antra eilute nuotrauku */



.aukstis-100 {
    min-height: 100px;
}
/* .kairen {
  align-items: flex-start; */
}
.clearfix {
  clear: both;
  content: "";
}
.reklama:hover {
  width: 75%;
=======
.triratis {
  display: flex;
  justify-content: space-between;
}
.dv3 {
  width: 100px;
  height: 90px;
  margin-top: 5px;
}
/* baigesi trecia eilute */
/* baigesi galerija */

.registras {
min-height: 400px;
background-color: #ff3333;
}

/* pagr pusl */
/* migtukas */

.migtukas{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bigone {
  width: 936px;
  height: 400px;
}
/* dviratis image */
/* baigesi mid kontaineris */

/* Article/footer kontainer */

.text {
  min-height: 500px;
  background-color: #999999;
  text-align: center;
}
/* article */
.article {
  min-height: 350px;
  background-color: #FFEBCD;
}
.par1 {
  display: flex;
  align-items: flex-end;
}

.par2 {
  display: flex;
  align-items: center;
}
/* article pabaiga */
.footer {
min-height: 150px;
background-color: #DCDCDC;
}

.listas {
  text-align: left;
}

/* soninis paveiksliukas */
.foot2 {
  display: flex;
  justify-content: flex-end;
}

.sonbike {
  width: 80px;
  height: 80px;}
>>>>>>> ed0b29e5631cc1f5ab6372d8eb428230a182b623
}


/* .tekstasKaire{

width: 30%; */


/* } */
/* .straipsniai{
  height: auto;
  float: left;
  background-color: rgb(228, 144, 145);
  border: solid black 2px;
} */
