ul li {
  float: left;
  list-style-type: none;
  margin: 30px;
}

.retroDviratis {
  width: 250px;
  align-content: center;
}
/* .kairen {
  align-items: flex-start; */
}
.clearfix {
  clear: both;
  content: "";
}
.reklama:hover {
  width: 75%;
}


/* .tekstasKaire{

width: 30%; */


/* } */
/* .straipsniai{
  height: auto;
  float: left;
  background-color: rgb(228, 144, 145);
  border: solid black 2px;
} */
