
body {
  background-color: #D3D3D3;
  color: wait;
}

.stulpelis {
  position: fixed;
  top: 0px;
}

.menu {

  height: 50px;
  width: 100%;
  background-color: #006633;
}

.mygtp {

  background-color: #669966;
  height: 40px;
  width: 200px;


}

.exit {
  margin-left: 92%;
  position: relative;
  top: -40px;
}

.align {
  text-align: left;
}

.divas {

  margin-left: 200px;
  padding-left: 15px;
  width: 84%;
  border-right-style: hidden;
  border-left-style: hidden;
  padding: 10px;
}

footer {
  position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
/* ----- Naudotojo paieskos style open  */

.new_user{
  margin-left: 30%;
  position: relative;

}
