
.jumbotron{
  text-align: center;
  background: url(../foto/bg_img_2.jpg);
  background-size: cover;
  height: 55vh;
  padding-top: 10%;
  border-radius: 8;
}
.jumbotron{
  color: #fff;
}
.main{
  padding-top: 5%;

}
.nav-item{
  line-height: 45px;
}
.card-section{
  padding: 5%;
}
/*    Blogas  */
.img-section-first,.img-section-second, .text-section{
  height: 50vh;
  padding-top: 20px;
  padding-bottom: 20px;
}
.img-section-first{
  background: url(../foto/yogurt.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.img-section-second{
  background: url(../foto/party.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.blog{

  padding-bottom: 25px;
  padding-top: 25px;
}
h2.no-span {
    display: table;
    white-space: nowrap;
    &:before, &:after {
      border-top: 1px solid green;
      content: '';
      display: table-cell;
      position: relative;
      top: 0.5em;
      width: 45%;
    }
    &:before { right: 1.5%; }
    &:after { left: 1.5%; }
}

/* footer */
footer {
  background-color: #3f3f3f;
  text-align: center;
  color: #d5d5d5;
  /* padding-top: 2.5rem; */
   margin-top: 10px;
}

 hr.light {
  border-top: 1px solid #d5d5d5;
  width: 88%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}


hr.light-100 {
  border-top: 1px solid #d5d5d5;
  /* width: 100%; */
  margin-top: .8rem;
  margin-bottom: 1rem;
  padding-top: 20px;
}

/* komentarai */
