.fox1 {
border: 5px solid black;
background: red;
}
#header1 {
  color: blue;
}

.fox2 {
  border: 5px solid black;
  background: #222555;
}
#header2 {
  color: #354111;
}


.fox3 {
  border: 5px solid black;
  background: pink;
}
#header3 {
  color: black;
}


.fox4 {
  border: 5px solid black;
  background: white;
}
#header4 {
  color: yellow;
}


.fox5 {
  border: 5px solid black;
  background: #fff555
}
#header5 {
  color: green;
}


.fox6 {
  border: 5px solid black;
  background: grey;
}
#header6 {
  color: purple;
}


.fox7 {
  border: 5px solid black;
  background: violet;
}
#header7 {
  color: #fff254
}


.fox8 {
  border: 5px solid black;
  background: #111251
}
#header8 {
  color: #321512
}


.fox9 {
  border: 5px solid black;
  background: #222555
}
#header9 {
  color: #354111
}


.fox10 {
  border: 5px solid black;
  background: #fff000
}
#header10 {
  color: #3f54ff
}
