#vienas {
    background-color: red;
}

#du {
    background-color: green;
}

#trys {
    background-color: blue;
}

#keturi {
    background-color: pink;
}

#penki {
    background-color: cyan;
}

#sesi {
    background-color: yellow;
}

#septyni {
    background-color: grey;
}

#astuoni {
    background-color: lawngreen;
}

#devyni {
    background-color: violet;
}

#desimt {
    background-color: salmon;
}

div {
    border: solid 2px #333;
}

#fonas1 {
    background-color: blue;
}

#fonas2 {
    background-color: brown;
}
#fonas3 {
    background-color: yellow;
}

#fonas4 {
    background-color: red;
}

#fonas5 {
    background-color: green;
}

#fonas6 {
    background-color: purple;
}

#fonas7 {
    background-color: pink;
}

#fonas8 {
    background-color: fuchsia;
}

#fonas9 {
    background-color: peru;
}

#fonas10 {
    background-color: orange;
}

