.card-menu {
  overflow: hidden;
}

.card {
  float: left;
  width: 100%;
  padding-bottom: 100%;
  margin-bottom: -100%;
}

.clearfix {
  clear: both;
  content: "";
}

@media (min-width: 575px) and (max-width: 768px) {
  .card {
    width: 49%;
    /* box-sizing: border-box; */
  }

  .card:first-child {
    margin-right: 2%;
  }

  .card:nth-child(3n+3) {
    width: 100%;
  }
}

@media (min-width: 769px) {
  .card {
    width: 32%;
    margin-right: 2%;
    /* box-sizing: border-box; */
  }

  .card:last-child {
    margin-right: 0;
  }
}
