.card {
  float: left;
  width: 100%;
  display: flex;
}


@media screen and (min-width: 768px) and (max-width: 991px) {
  .card {
    float: left;
    width: 50%;
    box-sizing: border-box;
    display: flex;
  }

}

@media screen and (min-width: 992px) {
  .card {
    width: 33.33%;
    box-sizing: border-box;
    display: flex;
  }

}
