* body {
      position: absolute;
  }
* box-sizing{
  border-box;
  }
. fa fa-facebook-f{
font-size:36px
}


.navbar{
  width: 20%;
  position:relative;
  float:left;
}
ul{
  float:left;
}
.cleanfix{
  char:both;
  content:"";
}
.row1{
  background-color: lightgreen;
  }
