 //.scss
 //sitas komentaras isnyks ir css faile nebus
 /* sitas komentaras bus ir css faile */

$pagrindineSpalva :#a2a2a2;
$fonoSpalva : #a3a3a3;
$prekesPlotis : 24.9%;





div {
  color:$fonoSpalva;
  height: $prekesPlotis;
  width: $prekesPlotis;


}
button {
  color: $pagrindineSpalva;
}
