header, .logo-big {
    height: 122px;
}

.logo-small {
   height: 28px;
}

li {
    list-style-type: none;
    padding: 15px;
  }

h1 {
text-align: center;
}

.aukstis {
    height: 110px;
   }

.fonas {
    background: url("img/Estonian_forest_reasons_to_visit_Sven_Zacek.jpg");
    background-size: auto;
}

#mygtukas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-centre {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}