article {
  background-color: yellow;
  float: left;
  width: 24%;
  display: inline;
  margin: 0.5%;
  padding: 5px;
  box-sizing: border-box;
}
p {
  margin: auto 5px;
}
section {
  position: relative;
  background-color: red;
  clear: both;
  height: 800px;
}
.a-mygtukas{
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.b-mygtukas{
position: absolute;
bottom: 0px;
left: 0px
}
.c-mygtukas {
position: absolute;
top: 0px;
left: 0px;
}
.d-mygtukas{
position: absolute;
top: 0px;
right: 0px;
}
.e-mygtukas{
  position: absolute;
  top:  50%;
  left: 70%;
}
