
.row { height: 500px;}
.navigation{ background-color:	#8FBC8F;
  height: 100%;
}
.header{height: 20%;
background-color: #7FFF00;
}
.article{ height: 60%;
background-color: white;
}
.footer{height: 20%;
background-color: #7FFF00;
}

.content {
  padding: 0;
}
